#promo { 
        text-align : center;
        padding:40px;
       }

#promo .jumbotron {
                    border-radius: 20px;
                    padding: 40px;
                    background-color:rgba(255,255,255,0.75);
                  }
