#promo { 
        text-align : center;
        padding:40px;
        background:<img src="https://hdfreefoto.files.wordpress.com/2014/09/mountain-sunrise.jpg"/>;
        background-size: cover;
        }
