#promo { 
        text-align : center;
        padding:40px;
        background-image:url(http://wallpaperswide.com/road_at_sunrise-wallpapers.html);
        background-size:cover;
       }

#promo .jumbotron {
                    border-radius: 20px;
                    padding: 40px;
                    background-color:rgba(255,255,255,0.75);
                  }
